[Component]
jid = buddycloud.example.org
allow_register = True
component_binding = False
route_wrap = False

[MainServer]
host = localhost
port = 5347

[Auth]
sasl_username = 
secret = the_secret_password

[Logging]
dumpProtocol = True
log_level = DEBUG
log_format = '%(asctime)s %(levelname)-8s %(name)s: %(message)s'
log_folder = 

[Storage]
backend = Memory

[Memory-storage]
class = buddycloud.channel_server.storage.memory.MemoryStorageBackend
persist = False

[Storm-storage]
class = buddycloud.channel_server.storage.storm.StormStorageBackend
uri = schema://username:password@hostname:port/database_name
